@import url('./forecast.css');
@import url('./location.css');

:root {
    --darkGreen: #3C723C;
    --whiteGreen: #E9EFC0;
}


#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body,
html {
    height: 100%;
}
html {
    font-size: 16px;
}
.main {
    flex: 1 1 auto;
    margin-top: 0px;
}
body {
    background-color: #b4e197;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
button {
    border: 0;
    background-color: transparent;
}

a {
    text-decoration: none;
}

.header {
    margin-bottom: 30px;
}

.footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--darkGreen);
}

.footer__text {
    color: var(--whiteGreen);
    font-size: 2.2rem;
}

.container {
    max-width: 1260px;
    padding: 0 10px;
    height: 100%;
    margin: 0 auto;
}

.navbar__container {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.navbar {
    height: 100px;
    background-color: var(--darkGreen);
}

.navbar__navigation {
    display: flex;
    align-items: center;
}

.navbar__navigation>:not(:last-child) {
    margin-right: 50px;
}

.navbar__link {
    font-size: 1.5rem;
    color: #83BD75;
}

.navbar__active-link {
    color: var(--whiteGreen);
}

.search {
    margin-right: 20px;
    z-index: 1000;
    width: 90%;
    max-width: calc(1260px / 2);
    border-radius: 50px;
    background-color: #83bd75;
    padding: 8px 8px 8px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0px 0px 34px -1px #000000;
    box-shadow: 0px 0px 34px -1px #000000;
}

.logo {
    display: flex;
    align-items: center;
    width: 6%;
    min-width: 40px;
    margin-right: 20px;
}

.logo img {
    min-width: 100%;
}

.input-block {
    width: 100%;
    min-height: 90%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border: 1px solid rgba(41, 41, 41, 0.301);
    border-radius: 50px;
    background-color: #fff;
    overflow: hidden;
}

.search-input {
    width: 100%;
    padding: 10px 15px;
    outline: none;
    font-size: 1.2rem;
    border: 0;
    border-radius: 50px 0 0 50px;
    background-color: transparent;
}

.search-magnifier {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 10px;
    width: 22px;
    cursor: pointer;
    background-color: #fff;
}

.search-magnifier img {
    max-width: 100%;
}

.weather-content__container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.weather-content__item {
    transition: 0.5s;
    cursor: default;
    box-shadow: 8px 7px 18px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 7px 18px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 7px 18px -1px rgba(0, 0, 0, 0.75);
    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: #4e944f;
    border-radius: 15px;
    min-height: 200px;
    height: 400px;
    padding-bottom: 10px;
}

.weather-content__item:hover {
    transform: translate(-2px, -2px);
}

.weather-item__statistics {
    padding: 0 10px;
}

.weather-item__statistics > :not(:last-child) {
    margin-bottom: 20px;
}

.weather-item__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid #e9efc0;
    margin-bottom: 20px;
}

.weather-item__date-time {
    font-size: 1.6rem;
    margin-bottom: 5px;
    text-align: right;
}

.weather-item__date-date {
    font-size: 1.6rem;
    text-align: right;
}

.weather-item__main-info {
    display: flex;
    align-items: center;
}

.weather-item__weather-img {
    width: 70px;
}

.weather-item__weather-img img {
    max-width: 100%;
}

.weather-item__city {
    font-size: 2.5rem;
    margin-right: 20px;
}

.weather-item__category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
}

.weather-item__category-value {
    font-size: 1.8rem;
}

.weather-item__category-title {
    font-size: 1.4rem;
}

.weather-item__close-btn {
    cursor: pointer;
    width: 30px;
}

.weather-item__close-btn img {
    min-width: 100%;
}

.weather-item__category-content {
    display: flex;
    align-items: center;
}

.weather-item__category-icon {
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 40px;
}

.weather-item__category-icon img {
    max-width: 100%;
}

@media (max-width: 500px) {
    .search {
        max-width: 90%;
        padding: 5px 10px;
    }

    .logo {
        width: 10%;
        margin-right: 10px;
    }

    .input-block {
        width: 100%;
        min-width: 0px;
    }

    .search-input {
        font-size: 1rem;
        width: 80%;
        padding: 5px 8px;
    }
    .search-magnifier {
        width: 15px;
    }
}

@media (max-width: 1250px) {
    .weather-content__container {
        grid-template-columns: 1fr 1fr;
    }

    .weather-item__statistics {
        padding: 0 10px;
    }

    .weather-item__city {
        font-size: 2rem;
    }

    .weather-item__close-btn img {
        min-width: 100%;
    }
}

@media (max-width: 1024px) {
    .weather-item__date-time {
        font-size: 1.2rem;
    }
    
    .weather-item__date-date {
        font-size: 1.2rem;
    }

    .search {
        max-width: calc(1260px / 3);
    }

    .weather-content__container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .weather-content__item {
        min-width: 280px;
    }

    .weather-item__statistics {
        padding: 0 10px;
    }

    .weather-item__city {
        font-size: 1.5rem;
    }

    .weather-item__category-value {
        font-size: 1.5rem;
    }

    .weather-item__category-title {
        font-size: 1.2rem;
    }

    .weather-item__close-btn img {
        min-width: 100%;
    }

    .weather-item__category-icon {
        width: 30px;
        margin-left: 10px;
    }
}

@media (max-width: 768px) {


    .footer {
        height: 80px;
    }
    .footer__text {
        font-size: 1.5rem;
    }

    .weather-content__container {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .weather-item__statistics {
        padding: 0 10px;
    }

    .weather-item__city {
        font-size: 1.5rem;
    }

    .weather-item__category-value {
        font-size: 1.5rem;
    }

    .weather-item__category-title {
        font-size: 1.2rem;
    }

    .weather-item__close-btn img {
        min-width: 100%;
    }

    .weather-item__category-icon {
        width: 30px;
        margin-left: 10px;
    }

    .navbar {
        height: 80px;
    }

    .navbar__link {
        font-size: 1.2rem;
    }

    .navbar__navigation>:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width: 425px) {
    .navbar, .footer {
        height: 60px;
    }
    .navbar__link {
        font-size: 1rem;
    }
}

/* 

#E9EFC0
#B4E197
#83BD75
#4E944F
#3C723C
 */
